<!DOCTYPE html>
<html lang="en">
{{>headerlinks}}
<body>
    {{>navbar}}
    <div class="about">
        <h1 class="heading animated bounceInRight" style="animation-delay: 1s">
            <center>
                <u>
                    About Me
                </u>
            </center>
        </h1>
        <div class="intro animated fadeInUp" style="animation-delay: 1s">
            <p>
                Hello<br/>
                I am <span>Shikha</span>,<br/>
                an undergraduate student pursing B. Tech. in CSE from
                <span>Bhagwan Mahaveer College Of Engineering And Management</span>,
                affliated to <span>GGSIPU</span>(Delhi). I am constantly learning something in feild of technology
                and looking to enhance and explore my learning, knowledge and skills in an
                esteemed organization while contributing to the growth of organisation.
            </p>
       </div>
    </div>
    {{>footer}}
    {{>footerlinks}}
</body>
</html>