<!DOCTYPE html>
<html lang="en">
{{>headerlinks}}

<body>
    {{>navbar}}
    <div class="projects">
        <h1 class="heading animated zoomIn" style="animation-delay: 0.5s">
            <center>
                <u>
                    My Projects
                </u>
            </center>
        </h1>
        <div class="project animated fadeInUp" style="animation-delay: 0.5s">
            <div class="orderOne">
                <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_6ocpfdil.json" background="white"
                    speed="0.5" style="width: 200px; height: 200px;" loop autoplay></lottie-player>
            </div>
            <div class="orderTwo">
                <h2><center>Quiz App</center></h2>
                <p>
                    A responsive app made using vanilla javascript<br/>
                    which generates random questions & also<br/>
                    displays result with high score.
                </p>
                <div>
                    <a target="_blank" class="link1" href="https://shikha-1.github.io/quiz-app/">Live Demo</a>
                    <a target="_blank" class="link2" href="https://github.com/shikha-1/quiz-app/">Source Code</a>
                </div>
            </div>
        </div>
        <div class="project animated fadeInUp" style="animation-delay: 1s">
            <div class="orderTwo">
                <h2><center>Music Player</center></h2>
                <p>
                    A responsive music player made using<br />
                    Javascript which can perform all operations 
                    <br/>like any other music player app.
                </p>
                <div>
                    <a target="_blank" class="link1" href="https://shikha-1.github.io/Music_Player/">Live Demo</a>
                    <a target="_blank" class="link2" href="https://github.com/shikha-1/Music_Player/">Source Code</a>
                </div>
            </div>
            <div class="orderOne">
                <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_0RVw24.json" background="transparent" speed="0.5"
                    style="width: 200px; height: 200px;" loop autoplay></lottie-player>
            </div>
        </div>
        <div class="project animated fadeInUp" style="animation-delay: 1.5s">
            <div class="orderOne">
                <lottie-player src="https://assets7.lottiefiles.com/temp/lf20_W14Z1y.json" background="white" speed="0.5"
                    style="width: 200px; height: 200px;" loop autoplay></lottie-player>
            </div>
            <div class="orderTwo">
                <h2>
                    <center>Snake Game</center>
                </h2>
                <p>Snake game is a computer action game,<br/>
                whose goal is to control a snake movement & collect food.<br/>
                It is made using vanilla javascript</p>
                <div>
                    <a target="_blank" class="link1" href="https://shikha-1.github.io/snake_game/">Live Demo</a>
                    <a target="_blank" class="link2" href="https://github.com/Shikha-1/snake_game">Source Code</a>
                </div>
            </div>
        </div>
        <div class="project animated fadeInUp" style="animation-delay: 2s">
            <div class="orderTwo">
                <h2>
                    <center>Covid 19 Stats</center>
                </h2>
                <p>
                    It shows data of covid cases of India.<br/>
                    Also shows data for the country searched for.<br/>
                    It is made using ChartJs.
                </p>
                <div>
                    <a target="_blank" class="link1" href="https://shikha-1.github.io/Covid19_stats/">Live Demo</a>
                    <a target="_blank" class="link2" href="https://github.com/shikha-1/Covid19_stats/">Source Code</a>
                </div>
            </div>
            <div class="orderOne">
            <lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_DtdYns.json"  background="transparent"  speed="0.5"
                style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
            </div>
        </div>
        <div class="project animated fadeInUp" style="animation-delay: 2.5s">
            <div class="orderOne">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_jy1bgnpp.json" background="white" speed="0.5"
                    style="width: 200px; height: 200px;" loop autoplay></lottie-player>
            </div>
            <div class="orderTwo">
                <h2>
                    <center>To Do App</center>
                </h2>
                <p>
                    It helps in managing daily to-dos.<br/>
                    The project uses crud operations in React.<br/>
                    Saves data in localstorage.
                </p>
                <div>
                    <a target="_blank" class="link1" href="https://sleepy-benz-633680.netlify.app/">Live Demo</a>
                    <a target="_blank" class="link2" href="https://github.com/Shikha-1/to-do-app.git">Source Code</a>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    {{>footerlinks}}
</body>

</html>