<!DOCTYPE html>
<html lang="en">
{{>headerlinks}}

<body>
    {{>navbar}}
    <div class="skills">
        <h1 class="heading animated fadeInLeft" style="animation-delay: 1s">
            <center>
                <u>
                    My Skills
                </u>
            </center>
        </h1>
        <div class="custom-skills">
            <p class="animated fadeInUp" style="animation-delay: 1s"><b>Languages : </b>Python, Javascript</p>
            <p class="animated fadeInUp" style="animation-delay: 1.5s"><b>Markup Language : </b>HTML</p>
            <p class="animated fadeInUp" style="animation-delay: 2s"><b>Database : </b>MongoDB</p>
            <p class="animated fadeInUp" style="animation-delay: 2.5s"><b>Frameworks : </b>CSS, Bootstrap, ReactJs, ExpressJs</p>
            <p class="animated fadeInUp" style="animation-delay: 3s"><b>IT Constructs :</b> DS and Algorithms, OOPS and DBMS</p>
            <p class="animated fadeInUp" style="animation-delay: 4s"><b>Code Editors : </b>Microsoft Visual Studio, Jupiter Notebook</p>
            <p class="animated fadeInUp" style="animation-delay: 4.5s"><b>DevOps Tool : </b>Netlify, Github, Heroku</p>
        </div>
    </div>
    {{>footer}}
    {{>footerlinks}}
</body>

</html>
